body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color:black;
    margin: 0;
    background-image: url(bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
 
  form {
    background-color:rgba(142, 151, 159, 0.658);
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
  }

  h1 {
    text-align: center;
    margin-bottom: 5px;
    color: black;
  }

  li {
    display: inline-flex;
    list-style: none;
    margin: 50px;
    margin-left: 85px;
    width: 300px;
    padding: 10px;
    align-items: center;
  }

  label {
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 10px;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgba(31, 9, 156, 0.1);
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #0056b3;
  }

  
  